@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --ff-nunito-sans: 'Nunito Sans', sans-serif;
  scrollbar-color: transparent transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
  overflow: overlay;
  font-family: var(--ff-nunito-sans) !important;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography {
  margin: 0px;
}
